.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.thumbnail {
  background-color: white;
  padding: 5px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
}
.row span {
  height: 50px;
  width: 60px;
}

.title {
  color: white;
}
